.side-bar {
    height: 86% !important;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    border-radius: 0;
    border-color: rgba(64, 194, 133, 0.693);
    /* background-color: rgb(255, 255, 255); */
    background-color: #cdd0cf;
    transition: 0.8s ease;
    top: 85px;
}

.toggle-menu {
    height: 50px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 9rem;
    width: 10px;
    position: absolute;
    outline: none;
    z-index: 5000;
    background-color: rgba(64, 194, 133, 0.693);
    border-color: rgba(64, 194, 133, 0.693);
    border-left: 0;
}

input[type="file"] {
    display: none;
}

.upload-btn{
    float:right;
}

.upload-btn:hover{
    background-color:grey;
}